name: Build & Create PR

on:
  push:
    branches:
      - main
    paths:
      - '**.js'
      - '**.json'
      - 'package.json'
      - 'package-lock.json'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build with ncc
        run: npm run build

      - name: Verify dist
        run: ls -la dist

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.PR_TOKEN }}
          title: ${{ github.event.head_commit.message }}
          body: See detailed information in this [commit link](${{ github.event.head_commit.url }})