name: Collect repository insights

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch:

jobs:
  hoard-insights:
    runs-on: ubuntu-latest
    steps:
      - name: Collect insights
        uses: carceneaux/repository-insights-hoarder@main
        with:
          insights_token: ${{ secrets.INSIGHTS_TOKEN }}
          commit_token: ${{ secrets.COMMIT_TOKEN }}
